body {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("https://cdn.wallpapersafari.com/25/21/zGig7h.jpg");
}

.header {
  width: 80%;
  margin: 0 auto;
}

.homePage, .displayResults {
  flex: 1;
  padding: 10px;
  line-height: 10px;
}

h1 {
  color: red;
  font-size: 50px;
}

h2 {
  font-size: 25px;
  color: rgb(128, 80, 21);
}

.form {
  background-color: rgb(104, 248, 104);
  margin-left: 30%;
  margin-right: 30%;
}
.searchForm{
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 20px;
  color: blue;
}
p {
  line-height: 8px;
  color:rgb(17, 171, 243);
}

.displayResults p {
  font-size: 10px;
  line-height: 2;
}

section{
  margin-bottom: 20px;
  background-color:rgb(245, 245, 135);
  color: white;
}

span {
  background-color: honeydew;
  padding: 5px;
  margin: 5px;
}

